@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
  background-color: #F8FAFC;
  color: #1E293B;
}